section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: .75rem 1.5rem;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: .25rem;

        span {
            background-image: url(../icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
            transition: 0.3s;
        }

        &:hover span {
            background-image: url(../icons/ArrowRightHover.svg);
        }
    }
}

#featured {
    grid-area: featured;

    img{
        height: 100%;
        object-fit: cover;
    }

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, rgba(2, 6, 23, 0.00) 0%, #020617 100%);
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 1.5rem;

            &:has(.text-lg) {
                padding: .75rem;
            }

            h2 {
                margin-top: .5rem;
                
                /* adicionei as linhas abaixo */
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    
}

#weekly {
    grid-area: weekly;

    &>div {
        grid-template-columns: repeat(4, 18.25rem);
    }

    img {
        height: 10rem;
    }

    figure {
        position: relative;
        .content-tag {
            position: absolute;
            top: .5rem;
            left: .5rem;
        }

        p {
            font-weight: 800;
        }
    }

    .paragraph-sec {
        /* adicionei as linhas abaixo */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#ai {
    grid-area: ai;

    img {
        width: 11rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: .5rem .25rem;
    }
}

aside{
    grid-area: aside;
}

#more {
    margin-top: 2rem;

    img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    article h3 {
        font-weight: 400;
        font-size: .875rem;
        margin-top: .5rem;
    }
}

#ads {
    img {
        border-radius: .3125rem;
    }
}

.ellipse-paragraph-ai {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipse-h3-ai {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
